<div *ngIf="recipe">
  <br>
  <h2>{{ recipe.name | titlecase }}
    <button type="button" class="btn btn-light float-right" (click)="deleteRecipe()">
      <div [innerHtml]="binIcon"></div>
    </button>
  </h2>
  <hr>
  <div class="col-sm-6">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Ingredient</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of recipe.ingredients">
          <td>{{ ingredient.name }}</td>
          <td>{{ ingredient.quantity }} {{ ingredient.units }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <ol>
    <li *ngFor="let instruction of recipe.instructions">
      <p>{{ instruction }}</p>
    </li>
  </ol>

</div>